/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
test-firestore-data-firebase-adminsdk-ru8nf-0f6eac9ded.json
ursafe-staging-firebase-adminsdk-9eks3-7f3e8e3e38.json
